
<header id="header" class="header">
  <div class="header-inner"><a href="/" class="header-inner__logo"></a>
    <nav class="header-inner__menu">
      <ul class="header-inner__menu_nav">
        <li class="header-inner__menu_nav-item"><a href="#home" class="first active">Home</a></li>
        <li class="header-inner__menu_nav-item"><a href="#id5">Prices</a></li>
        <li class="header-inner__menu_nav-item"><a href="#id7">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-inner__menu-mobile">
      <input id="toggle" type="checkbox"/>
      <label for="toggle" class="toggle-container"><span class="button button-toggle"></span></label>
      <nav class="nav"><a href="#home" class="nav-item">Home</a><a href="#id5" class="nav-item">Price</a><a href="#id7" class="nav-item">Contacts</a></nav>
    </div>
  </div>
</header>
<div id="home"></div>
<div class="main">
  <section class="obluchateli-promo">
    <div class="obluchateli-promo__wrapper">
      <div class="obluchateli-promo__interactive"><i style="margin: 32.8417px 25.4736px 11.0214px 4px;" class="obluchateli-promo__chain obluchateli-promo__chain--1"></i><i style="margin: 20.065px 36.2122px 16.9827px 9.25982px;" class="obluchateli-promo__chain obluchateli-promo__chain--2"></i><i style="margin: 39.2211px 37.1997px 9.69472px 33.7261px;" class="obluchateli-promo__chain obluchateli-promo__chain--3"></i><i style="margin: 36.3524px 27.5108px 24.8633px 44.7409px;" class="obluchateli-promo__chain obluchateli-promo__chain--4"></i><i style="margin: 32.1777px 6.12197px 42.4297px 3.37399px;" class="obluchateli-promo__chain obluchateli-promo__chain--5"></i><i style="margin: 39.0942px 29.5478px 22.6733px 21.1683px;" class="obluchateli-promo__chain obluchateli-promo__chain--6"></i><i style="margin: 13.6061px 32.8051px 42.935px 15.407px;" class="obluchateli-promo__chain obluchateli-promo__chain--7"></i><i style="margin: 10.0001px 21.0002px 2.0001px 54.9999px;" class="obluchateli-promo__chain obluchateli-promo__chain--8"></i></div>
      <div class="obluchateli-promo__body">
        <div class="obluchateli-promo__title">
          <h1>Germicidal <br>Lamp «Armed»</h1><span>(recirculator)</span>
        </div>
        <div class="obluchateli-promo__content">
          <h3>What is it?</h3><span>It’s a unique device, which disinfects the air in a room by means of ultraviolet in the presence of people.</span>
        </div>
        <div class="obluchateli-promo__interactive"><i class="obluchateli-promo__shit"></i><i class="obluchateli-promo__ellipse obluchateli-promo__ellipse--big"></i><i class="obluchateli-promo__ellipse obluchateli-promo__ellipse--small"></i><i class="obluchateli-promo__bacila obluchateli-promo__bacila--red"></i><img src="img/recirculators/recirkulyatory-left.png" alt="recirculators" class="obluchateli-promo__left"/>
          <div class="obluchateli-promo__recirculators"><i class="obluchateli-promo__recirculators-bacila obluchateli-promo__recirculators-bacila--1"></i><i class="obluchateli-promo__recirculators-bacila obluchateli-promo__recirculators-bacila--2"></i><i class="obluchateli-promo__recirculators-bacila obluchateli-promo__recirculators-bacila--3"></i><i class="obluchateli-promo__recirculators-bacila obluchateli-promo__recirculators-bacila--4"></i><i class="obluchateli-promo__recirculators-bacila obluchateli-promo__recirculators-bacila--5"></i><i class="obluchateli-promo__recirculators-bacila obluchateli-promo__recirculators-bacila--6"></i><i class="obluchateli-promo__recirculators-bacila obluchateli-promo__recirculators-bacila--7"></i>
            <div class="obluchateli-promo__recirculators-item obluchateli-promo__recirculators-item--1"></div>
            <div class="obluchateli-promo__recirculators-item obluchateli-promo__recirculators-item--2"></div>
            <div class="obluchateli-promo__recirculators-item obluchateli-promo__recirculators-item--3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="obluchateli-promo__separator">
      <div class="obluchateli-promo__separator_inner">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#f0f6fb" viewBox="0 0 4 0.266661" preserveAspectRatio="none">
          <polygon points="4,0 4,0.266661 -0,0.266661"></polygon>
        </svg>
      </div>
    </div>
  </section>
  <section id="id2" class="obluchateli-info">
    <div class="obluchateli-info__wrapper">
      <div class="obluchateli-info__recirculator"></div>
      <div class="obluchateli-info__interactive"><i style="margin: 35.5792px 17.4736px 38.7475px 5.69472px;" class="obluchateli-info__bacila obluchateli-info__bacila--1"></i><i style="margin: 34.736px 45.8051px 11.8355px 18.0131px;" class="obluchateli-info__bacila obluchateli-info__bacila--2"></i><i style="margin: 34.4836px 17.3894px 28.1583px 21.3894px;" class="obluchateli-info__bacila obluchateli-info__bacila--3"></i><i style="margin: 10.849px 6.7986px 2.71224px 9.18706px;" class="obluchateli-info__bacila obluchateli-info__bacila--4"></i><i style="margin: 28.8409px 31.9628px 39.2706px 40.0372px;" class="obluchateli-info__bacila obluchateli-info__bacila--5"></i><i class="obluchateli-info__bacila obluchateli-info__bacila--red"></i></div>
      <div class="obluchateli-info__block">
        <div class="obluchateli-info__block--title">Destruction<br> of most viruses, microorganisms and bacteria with effeciency of</div><span>99%</span>
      </div>
      <div class="obluchateli-info__block-shadow"></div>
      <div class="obluchateli-info__content">
        <div class="obluchateli-info__content--item">The air stream, passing through recirculiator, undergoes ultraviolet effect, which destroys pathogenic microorganisms. The holes, necessary for ventilation are heavily blackened, the UV-lamps are covered with opaque jacket, not allowing UV radiance to penetrate into the room.</div>
        <div class="obluchateli-info__content--item">Such a peculiarity of construction makes recirculator Armed effective and 100% safe means for air disinfection.</div>
      </div>
    </div>
    <div class="obluchateli-info__separator">
      <div class="obluchateli-info__separator_inner">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#fff" viewBox="0 0 4 0.266661" preserveAspectRatio="none">
          <polygon points="4,0 4,0.266661 -0,0.266661"></polygon>
        </svg>
      </div>
    </div>
  </section>
  <section id="id3" class="obluchateli-lamp">
    <div class="obluchateli-lamp__wrapper">
      <div class="obluchateli-lamp__interactive"><i class="obluchateli-lamp__pear obluchateli-lamp__pear--2"></i><i class="obluchateli-lamp__pear obluchateli-lamp__pear--1"></i><i style="margin: 18px 10.6106px 21.8317px 19.6733px;" class="obluchateli-lamp__chain obluchateli-lamp__chain--1"></i><i style="margin: 6.50655px 7.44159px 9.06495px 32.8528px;" class="obluchateli-lamp__chain obluchateli-lamp__chain--2"></i><i style="margin: 17.4422px 8.27388px 2.38945px 33.0528px;" class="obluchateli-lamp__chain obluchateli-lamp__chain--3"></i><i style="margin: 1px 2.52517px 3.05035px 2.71224px;" class="obluchateli-lamp__chain obluchateli-lamp__chain--4"></i><i style="margin: 16.4112px 15.0995px 22.7229px 12.1299px;" class="obluchateli-lamp__lamp obluchateli-lamp__lamp--1"></i><i style="margin: 12px 6.00014px 16.9999px 2.00007px;" class="obluchateli-lamp__lamp obluchateli-lamp__lamp--2"></i></div>
      <div class="obluchateli-lamp__title">
        <h2 class="obluchateli-lamp__title-text">What is needed for service?</h2>
      </div>
      <div class="obluchateli-lamp__content">
        <div class="obluchateli-lamp__left">The lamp inside irradiator-recirculator ‘Armed’ can work up <span>to 8000 hours</span> without requiring special care and technical servicing.</div><img src="img/lamp/obluchateli-lamp.png" alt="lamp" class="obluchateli-lamp__img"/>
        <div class="obluchateli-lamp__right">When the lamp expires it should be changed for a new one,<br> <span>which is as easily to do as to change a lamp in a chandelier.</span></div>
      </div>
    </div>
  </section>
  <section id="id4" class="obluchateli-device">
    <div class="obluchateli-device__wrapper">
      <div class="obluchateli-device__title">
        <h2 class="obluchateli-device__title-text">Where are such devices used?</h2>
      </div>
      <div class="obluchateli-device__slider">
        <div class="obluchateli-device__slider--1">
          <div class="obluchateli-device__slider--title"><i class="fas fa-medkit"></i><span>Medicine</span></div>
          <div class="obluchateli-device__slider--subtitle"><span>to prevent the patients from passing illnesses to each other</span></div>
          <div class="obluchateli-device__slider--images"><img src="img/slider/obluchateli-device__slider--1.png" alt="At home" class="img-responsive"/></div>
        </div>
        <div class="obluchateli-device__slider--2">
          <div class="obluchateli-device__slider--title"><i class="far fa-building"></i><span>At an office</span></div>
          <div class="obluchateli-device__slider--subtitle"><span>to reduce the frequency of employees’ illnesses</span></div>
          <div class="obluchateli-device__slider--images"><img src="img/slider/obluchateli-device__slider--2.png" alt="At an office" class="img-responsive"/></div>
        </div>
        <div class="obluchateli-device__slider--3">
          <div class="obluchateli-device__slider--title"><i class="fas fa-home"></i><span>At home</span></div>
          <div class="obluchateli-device__slider--subtitle"><span>to protect the health of the family</span></div>
          <div class="obluchateli-device__slider--images"><img src="img/slider/obluchateli-device__slider--3.png" alt="Medicine" class="img-responsive"/></div>
        </div>
      </div>
      <div class="obluchateli-device__overlay">
        <div class="obluchateli-device__overlay-left"></div>
        <div class="obluchateli-device__overlay-right"></div>
        <div class="obluchateli-device__overlay_bg-left"></div>
        <div class="obluchateli-device__overlay_bg-right"></div>
      </div>
    </div>
  </section>
  <section id="id5" class="obluchateli-price">
    <div class="obluchateli-price__wrapper">
      <div class="obluchateli-price__title">
        <h2 class="obluchateli-price__title-text">Price?</h2>
      </div>
      <div class="obluchateli-price__product">
        <div class="obluchateli-price__subtitle"><i class="fas fa-home"></i><span>Home (Family health support)</span></div>
        <div class="obluchateli-price__slider">
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-1">
              <div style="background-image: url(img/product/product-item-1-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-115  (plastic body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 26.5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-2">
              <div style="background-image: url(img/product/product-item-2-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-115  (plastic body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 26.5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-3">
              <div style="background-image: url(img/product/product-item-3-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-115  (plastic body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 26.5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-4">
              <div style="background-image: url(img/product/product-item-4-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-115  (plastic body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 26</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-5">
              <div style="background-image: url(img/product/product-item-5-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-130  (plastic body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 28.5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-6">
              <div style="background-image: url(img/product/product-item-6-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-115  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 31</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-7">
              <div style="background-image: url(img/product/product-item-7-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-115  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 31.5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-8">
              <div style="background-image: url(img/product/product-item-8-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-115  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 33</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-9">
              <div style="background-image: url(img/product/product-item-9-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-130  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 33</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-10">
              <div style="background-image: url(img/product/product-item-10-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-130  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 33.5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-11">
              <div style="background-image: url(img/product/product-item-11-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH111-130  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 33.5</div>
            </div>
          </div>
        </div>
        <div class="obluchateli-price__subtitle"><i class="far fa-building"></i><span>Bussines / <i class="fas fa-medkit"></i> Medicine (protection from desease transmission)</span></div>
        <div class="obluchateli-price__slider">
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-12">
              <div style="background-image: url(img/product/product-item-12-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH211-115  (plastic body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 35</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-13">
              <div style="background-image: url(img/product/product-item-13-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH211-130  (plastic body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 44</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-14">
              <div style="background-image: url(img/product/product-item-14-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH211-115  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 40.5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-15">
              <div style="background-image: url(img/product/product-item-15-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH211-130  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 48.5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-16">
              <div style="background-image: url(img/product/product-item-16-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH311-115  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 89</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-17">
              <div style="background-image: url(img/product/product-item-17-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Medical Irradiator-recirculator “Armed” СH511-115  (metal body)*</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 97</div>
            </div>
          </div>
        </div>
        <div class="obluchateli-price__slider_subtitle">*The support for the recirculator is purchased separately</div>
        <div class="obluchateli-price__subtitle"><i class="far fa-plus-square"></i><span>Joint products</span></div>
        <div class="obluchateli-price__slider">
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-18">
              <div style="background-image: url(img/product/product-item-18-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Uv-lamp “Armed” F15 T8 (G13)</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 2,2</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-19">
              <div style="background-image: url(img/product/product-item-19-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Uv-lamp “Armed” F30 T8 (G13)</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 2,4</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-20">
              <div style="background-image: url(img/product/product-item-20-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Uv-lamp "Armed" ZW30S19W (2G11)</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 5</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-21">
              <div style="background-image: url(img/product/product-item-21-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Uv-lamp "Armed" ZW15S19W (2G11)</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 4</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-22">
              <div style="background-image: url(img/product/product-item-22-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Rack for a recirculator per 1 lamp</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 13.3</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-23">
              <div style="background-image: url(img/product/product-item-23-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Rack for a recirculator per 2 lamps</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 13.3</div>
            </div>
          </div>
          <div class="obluchateli-price__slider_wrapper"><a href="#product-item-24">
              <div style="background-image: url(img/product/product-item-24-0.jpg)" class="obluchateli-price__slider_photo"></div>
              <div class="obluchateli-price__slider_title">Rack for a recirculator per 3/5 lamps</div></a>
            <div class="obluchateli-price__slider_info">
              <div class="price">€ 13.3</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="id6" class="obluchateli-howto">
    <div class="obluchateli-howto__wrapper">
      <div class="obluchateli-promo__interactive"><i style="margin: 32.8417px 25.4736px 11.0214px 4px;" class="obluchateli-promo__chain obluchateli-promo__chain--1"></i><i style="margin: 20.065px 36.2122px 16.9827px 9.25982px;" class="obluchateli-promo__chain obluchateli-promo__chain--2"></i><i style="margin: 32.1777px 6.12197px 42.4297px 3.37399px;" class="obluchateli-promo__chain obluchateli-promo__chain--5"></i><i style="margin: 39.0942px 29.5478px 22.6733px 21.1683px;" class="obluchateli-promo__chain obluchateli-promo__chain--6"></i></div>
      <div class="obluchateli-howto__title">
        <h2 class="obluchateli-howto__title-text">How to work with us?</h2>
      </div>
      <div class="obluchateli-howto__icon-block row between-xs">
        <div class="obluchateli-howto__icon-block_item col-md-2 col-xs-12">
          <div class="obluchateli-howto__icon-block_item-icon"><i class="far fa-edit"></i></div>
          <div class="obluchateli-howto__icon-block_item-text"><a href="#id7">Make an order</a></div>
        </div>
        <div class="obluchateli-howto__icon-block_item col-md-2 col-xs-12">
          <div class="obluchateli-howto__icon-block_item-icon"><i class="far fa-file-alt"></i></div>
          <div class="obluchateli-howto__icon-block_item-text">Get a favorable offer</div>
        </div>
        <div class="obluchateli-howto__icon-block_item col-md-2 col-xs-12">
          <div class="obluchateli-howto__icon-block_item-icon--4"></div>
          <div class="obluchateli-howto__icon-block_item-text">Make 30% advance payment</div>
        </div>
        <div class="obluchateli-howto__icon-block_item col-md-2 col-xs-12">
          <div class="obluchateli-howto__icon-block_item-icon"><i class="far fa-calendar"></i></div>
          <div class="obluchateli-howto__icon-block_item-text">During 40 workdays<br> FOB Shanghai</div>
        </div>
        <div class="obluchateli-howto__icon-block_item col-md-2 col-xs-12">
          <div class="obluchateli-howto__icon-block_item-icon--6"></div>
          <div class="obluchateli-howto__icon-block_item-text">Payment of the <br>remained</div>
        </div>
      </div>
    </div>
  </section>
  <section id="id7" class="obluchateli-questions">
    <div class="obluchateli-questions__wrapper">
      <div class="obluchateli-questions__title">
        <h2 class="obluchateli-questions__title-text">Do you have any questions?</h2>
      </div>
      <div class="obluchateli-questions__wrapper_form">
        <div class="obluchateli-questions__subtitle">
          <h3 class="obluchateli-questions__subtitle-text"> Would like to make an order?</h3>
        </div>
        <div class="obluchateli-questions__feedback row">
          <div class="obluchateli-questions__feedback-send col-xs-12">
            <div class="obluchateli-questions__feedback--text"><span>Send as a mail by this form:</span>
              <form id="feedback" class="obluchateli-questions__feedback-form row">
                <div class="col-md-6 col-xs-12">
                  <div class="obluchateli-questions__form-group form-group">
                    <input type="text" id="name" placeholder="Name" required="required" class="obluchateli-questions__form-group--field form-control"/>
                  </div>
                  <div class="obluchateli-questions__form-group form-group">
                    <input type="email" id="email" placeholder="E-mail:" required="required" class="obluchateli-questions__form-group--field form-control"/>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12">
                  <div class="obluchateli-questions__form-group form-group">
                    <textarea type="text" id="message" placeholder="Questions/order:" required="required" class="obluchateli-questions__form-group--fieldarea form-control"></textarea>
                  </div>
                  <button type="submit" id="form-submit" class="obluchateli-questions__button">Send</button>
                  <div id="msgSubmit" class="hidden text-danger">Thank you! <br> We will answer you soon!</div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="obluchateli-questions__feedback-contact row center-xs">
          <div class="obluchateli-questions__feedback--text col-xs-12"><span>Our contacts:</span><i class="far fa-envelope"></i><a href="mailto:sales@armed-uv.com">sales@armed-uv.com</a></div>
        </div>
      </div><img src="img/recirculators/recirkulyatory-left-grey.png" alt="recirculators" class="obluchateli-questions__bg-image--1"/><img src="img/recirculators/recirkulyatory-right.png" alt="recirculators" class="obluchateli-questions__bg-image--2"/><i class="obluchateli-questions__bacila obluchateli-questions__bacila--red"></i><i class="obluchateli-questions__elipse"></i>
    </div>
  </section>
</div>