
<div id="product-item-1" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-1-0.jpg" alt="product"/><img src="img/product/product-item-1-1.jpg" alt="product"/><img src="img/product/product-item-1-2.jpg" alt="product"/><img src="img/product/product-item-1-3.jpg" alt="product"/><img src="img/product/product-item-1-4.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-1-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-1-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-1-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-1-3.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-1-4.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-115 (plastic body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>plastic</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>610</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>95</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 26.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-2" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-2-0.jpg" alt="product"/><img src="img/product/product-item-2-1.jpg" alt="product"/><img src="img/product/product-item-2-2.jpg" alt="product"/><img src="img/product/product-item-2-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-2-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-2-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-2-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-2-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-115 (plastic body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>plastic</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>610</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>95</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 26.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-3" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-3-0.jpg" alt="product"/><img src="img/product/product-item-3-1.jpg" alt="product"/><img src="img/product/product-item-3-2.jpg" alt="product"/><img src="img/product/product-item-3-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-3-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-3-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-3-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-3-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-115 (plastic body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>plastic</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>610</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>95</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 26.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-4" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-4-0.jpg" alt="product"/><img src="img/product/product-item-4-1.jpg" alt="product"/><img src="img/product/product-item-4-2.jpg" alt="product"/><img src="img/product/product-item-4-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-4-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-4-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-4-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-4-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-115 (plastic body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>plastic</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>610</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>95</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 26</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-5" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-5-0.jpg" alt="product"/><img src="img/product/product-item-5-1.jpg" alt="product"/><img src="img/product/product-item-5-2.jpg" alt="product"/><img src="img/product/product-item-5-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-5-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-5-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-5-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-5-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-130 (plastic body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>plastic</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>1070</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>95</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 28.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-6" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-6-0.jpg" alt="product"/><img src="img/product/product-item-6-1.jpg" alt="product"/><img src="img/product/product-item-6-2.jpg" alt="product"/><img src="img/product/product-item-6-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-6-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-6-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-6-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-6-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-115 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>2G11</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>410</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 31</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-7" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-7-0.jpg" alt="product"/><img src="img/product/product-item-7-1.jpg" alt="product"/><img src="img/product/product-item-7-2.jpg" alt="product"/><img src="img/product/product-item-7-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-7-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-7-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-7-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-7-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-115 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>27</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>2G11</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>410</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 31.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-8" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-8-0.jpg" alt="product"/><img src="img/product/product-item-8-1.jpg" alt="product"/><img src="img/product/product-item-8-2.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-8-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-8-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-8-2.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-130 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>27</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>2G11</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>505</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 33</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-9" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-9-0.jpg" alt="product"/><img src="img/product/product-item-9-1.jpg" alt="product"/><img src="img/product/product-item-9-2.jpg" alt="product"/><img src="img/product/product-item-9-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-9-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-9-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-9-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-9-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-130 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>27</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>2G11</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>505</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 33</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-10" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-10-0.jpg" alt="product"/><img src="img/product/product-item-10-1.jpg" alt="product"/><img src="img/product/product-item-10-2.jpg" alt="product"/><img src="img/product/product-item-10-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-10-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-10-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-10-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-10-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-130 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>27</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>2G11</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>505</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 33.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-11" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-11-0.jpg" alt="product"/><img src="img/product/product-item-11-1.jpg" alt="product"/><img src="img/product/product-item-11-2.jpg" alt="product"/><img src="img/product/product-item-11-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-11-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-11-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-11-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-11-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH111-130 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Irradiators-recirculators are used in domestic and public places for air disinfection. Due to its construction, the device is safe and indispensable for domestic use, especially for families with children.</p>
            <p>It destroys most of viruses and microorganisms, including fungus, spores and bacteria with 99% effectiveness.</p>
            <p>The styles are equipped with the system of coercive air circulation and bactericidal bulb.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>27</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>2G11</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>505</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>105</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 33.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-12" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-12-0.jpg" alt="product"/><img src="img/product/product-item-12-1.jpg" alt="product"/><img src="img/product/product-item-12-2.jpg" alt="product"/><img src="img/product/product-item-12-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-12-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-12-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-12-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-12-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH211-115 (plastic body)</h2>
          <div class="dialog-right__content-text">
            <p>Two-bulb irradiators-recirculators have gained popularity in kinder gardens, schools, beauty salons and business centers for air disinfection, destruction of most viruses and microorganisms, since they help to reduce the risk of incidence among employees and clients.</p>
            <p>The styles are equipped with the system of coercive air circulation and 2 bactericidal bulbs.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>plastic</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>40</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>175</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>720</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 35</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-13" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-13-0.jpg" alt="product"/><img src="img/product/product-item-13-1.jpg" alt="product"/><img src="img/product/product-item-13-2.jpg" alt="product"/><img src="img/product/product-item-13-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-13-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-13-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-13-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-13-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH211-130 (plastic body)</h2>
          <div class="dialog-right__content-text">
            <p>Two-bulb irradiators-recirculators have gained popularity in kinder gardens, schools, beauty salons and business centers for air disinfection, destruction of most viruses and microorganisms, since they help to reduce the risk of incidence among employees and clients.</p>
            <p>The styles are equipped with the system of coercive air circulation and 2 bactericidal bulbs.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>plastic</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>90</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>75</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>175</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>1170</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 44</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-14" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-14-0.jpg" alt="product"/><img src="img/product/product-item-14-1.jpg" alt="product"/><img src="img/product/product-item-14-2.jpg" alt="product"/><img src="img/product/product-item-14-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-14-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-14-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-14-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-14-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH211-115 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Two-bulb irradiators-recirculators have gained popularity in kinder gardens, schools, beauty salons and business centers for air disinfection, destruction of most viruses and microorganisms, since they help to reduce the risk of incidence among employees and clients.</p>
            <p>The styles are equipped with the system of coercive air circulation and 2 bactericidal bulbs.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>40</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>175</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>710</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 40.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-15" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-15-0.jpg" alt="product"/><img src="img/product/product-item-15-1.jpg" alt="product"/><img src="img/product/product-item-15-2.jpg" alt="product"/><img src="img/product/product-item-15-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-15-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-15-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-15-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-15-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH211-130 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Two-bulb irradiators-recirculators have gained popularity in kinder gardens, schools, beauty salons and business centers for air disinfection, destruction of most viruses and microorganisms, since they help to reduce the risk of incidence among employees and clients.</p>
            <p>The styles are equipped with the system of coercive air circulation and 2 bactericidal bulbs.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>90</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>75</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>175</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>110</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>1170</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 48.5</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-16" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-16-0.jpg" alt="product"/><img src="img/product/product-item-16-1.jpg" alt="product"/><img src="img/product/product-item-16-2.jpg" alt="product"/><img src="img/product/product-item-16-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-16-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-16-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-16-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-16-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH311-115 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Three lamp irradiators-recirculators are recommended to be used in departments of medical institutions, such as operation, surgery and reanimation departments, maternity hospitals. Due to its construction, the device is safe for people, it’s not necessary to leave the room when it is operating.</p>
            <p>The styles effectively work in places of any type, with volume not exceeding 100 m3, are equipped with the system of coercive air circulation, consisting of 3 ventilators and inlet filter.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>60</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>320</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>130</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>825</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 89</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-17" class="modalbg"><a href="#close" class="overlay"></a>
  <div class="dialog"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="dialog-left">
        <div class="dialog-left__slider-for"><img src="img/product/product-item-17-0.jpg" alt="product"/><img src="img/product/product-item-17-1.jpg" alt="product"/><img src="img/product/product-item-17-2.jpg" alt="product"/><img src="img/product/product-item-17-3.jpg" alt="product"/></div>
        <div class="dialog-left__slider-nav"><img src="img/product/product-item-17-0.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-17-1.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-17-2.jpg" alt="product" class="slider-image"/><img src="img/product/product-item-17-3.jpg" alt="product" class="slider-image"/></div>
      </div>
      <div class="dialog-right">
        <div class="dialog-right__content">
          <h2>Medical Irradiator-recirculator “Armed” СH511-115 (metal body)</h2>
          <div class="dialog-right__content-text">
            <p>Five bulb irradiators-recirculators “Armed” differ from three bulb styles only in quantity of bulbs and also are recommended to be used in departments of medical institutions, such as operation, surgery and reanimation departments, maternity hospitals. Due to its construction, the device is safe for people, it’s not necessary to leave the room when it is operating.</p>
            <p>The styles effectively work in places of any type, with volume not exceeding 100 m3, are equipped with the system of coercive air circulation, consisting of 3 ventilators and inlet filter.</p>
          </div>
          <hr/>
          <div class="dialog-right__content-specifications">
            <h3>Specifications:</h3>
            <table>
              <tbody>
                <tr>
                  <td>Irradiator type <span>....................................................................................................</span></td>
                  <td>closed</td>
                </tr>
                <tr>
                  <td>Material of the body <span>..........................................................................................</span></td>
                  <td>metal</td>
                </tr>
                <tr>
                  <td>Quantity of lamps <span>..............................................................................................</span></td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>Power of lamps, Watt <span>........................................................................................</span></td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>The type of the lamp cap <span>..................................................................................</span></td>
                  <td>G13</td>
                </tr>
                <tr>
                  <td>Productivity, m3 per hour <span>..................................................................................</span></td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>Service life, hours <span>.............................................................................................</span></td>
                  <td>8000</td>
                </tr>
                <tr>
                  <td>Power supply, Volt/Hz <span>.......................................................................................</span></td>
                  <td>220/50</td>
                </tr>
                <tr>
                  <td>Power consumption, Watt <span>.................................................................................</span></td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>Warranty period, months <span>...................................................................................</span></td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Length, mm <span>.......................................................................................................</span></td>
                  <td>320</td>
                </tr>
                <tr>
                  <td>Width, mm <span>.........................................................................................................</span></td>
                  <td>130</td>
                </tr>
                <tr>
                  <td>Height, mm <span>.........................................................................................................</span></td>
                  <td>825</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="dialog-right__content-price">
            <!--strike.price € 300-->
            <div class="price">€ 97</div>
          </div>
        </div><a href="#close" title="close" class="modalbg__button">Close</a>
      </div>
    </div>
  </div>
</div>
<div id="product-item-18" class="modalbg modalimg"><a href="#close" class="overlay"></a>
  <div class="dialog dialogimg"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="row center-xs">
        <div class="popup-image col-xs-12"><img src="img/product/product-item-18-0.jpg" alt="product"/></div>
      </div>
    </div>
  </div>
</div>
<div id="product-item-19" class="modalbg modalimg"><a href="#close" class="overlay"></a>
  <div class="dialog dialogimg"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="row center-xs">
        <div class="popup-image col-xs-12"><img src="img/product/product-item-19-0.jpg" alt="product"/></div>
      </div>
    </div>
  </div>
</div>
<div id="product-item-20" class="modalbg modalimg"><a href="#close" class="overlay"></a>
  <div class="dialog dialogimg"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="row center-xs">
        <div class="popup-image col-xs-12"><img src="img/product/product-item-20-0.jpg" alt="product"/></div>
      </div>
    </div>
  </div>
</div>
<div id="product-item-21" class="modalbg modalimg"><a href="#close" class="overlay"></a>
  <div class="dialog dialogimg"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="row center-xs">
        <div class="popup-image col-xs-12"><img src="img/product/product-item-21-0.jpg" alt="product"/></div>
      </div>
    </div>
  </div>
</div>
<div id="product-item-22" class="modalbg modalimg"><a href="#close" class="overlay"></a>
  <div class="dialog dialogimg"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="row center-xs">
        <div class="popup-image col-xs-12"><img src="img/product/product-item-22-0.jpg" alt="product"/></div>
      </div>
    </div>
  </div>
</div>
<div id="product-item-23" class="modalbg modalimg"><a href="#close" class="overlay"></a>
  <div class="dialog dialogimg"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="row center-xs">
        <div class="popup-image col-xs-12"><img src="img/product/product-item-23-0.jpg" alt="product"/></div>
      </div>
    </div>
  </div>
</div>
<div id="product-item-24" class="modalbg modalimg"><a href="#close" class="overlay"></a>
  <div class="dialog dialogimg"><a href="#close" title="close" class="close">X</a>
    <div class="container">
      <div class="row center-xs">
        <div class="popup-image col-xs-12"><img src="img/product/product-item-24-0.jpg" alt="product"/></div>
      </div>
    </div>
  </div>
</div>